@use "../variables";

.company {
  margin-bottom: 100px;

  @media (max-width: variables.$vp-max-tablet) {
    margin-bottom: 80px;
  }
}

.company__image {
  object-fit: contain;
  margin-right: 100px;

  @media (max-width: variables.$vp-max-tablet) {
    margin-right: 25px;
  }
}

.company__container {
  display: flex;
  align-items: flex-start;
}

.company h2 {
  margin: 0 0 15px;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: variables.$color-pearl;
  font-family: variables.$ff-roboto-condensed;

  @media (max-width: variables.$vp-max-tablet) {
    margin-bottom: 12px;
  }

  @media (max-width: variables.$vp-max-mobile) {
    font-size: 28px;
    line-height: 40px;
  }
}

.company p {
  margin: 23px 0 0;
  font-family: variables.$ff-pt-mono;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: variables.$color-pearl;

  &:first-of-type {
    margin-top: 0;
  }

  @media (max-width: variables.$vp-max-tablet) {
    line-height: 21.4px;
  }

  @media (max-width: variables.$vp-max-mobile) {
    margin-top: 18px;
    margin-bottom: -1px;
    font-size: 14px;
    line-height: 19px;
  }
}

.company__description-text {
  margin-bottom: 38px;

  @media (max-width: variables.$vp-max-tablet) {
    margin-bottom: 17px;
  }
}

.company__button {
  padding: 14px 50px;
  border: 1px solid variables.$color-sky-blue;
  border-radius: 3px;
  font-family: variables.$ff-roboto-condensed;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  color: variables.$color-sky-blue;
  background-color: variables.$color-default-white;
  text-transform: uppercase;

  @media (max-width: variables.$vp-max-mobile) {
    padding: 8px 40px 10px;
  }

  &:hover,
  &:focus-visible {
    background-color: variables.$color-pearl-fade;
    opacity: 0.8;
  }

  &:active {
    background-color: variables.$color-pearl-fade;
    opacity: 0.6;
  }
}
